.main-nav {
  ul {
    display: flex;
    list-style-type: none;

    a {
      font-family: Raleway, sans-serif;
      font-size: 12.1px;
      line-height: 30px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #ffffff;
    }
  }
}
